*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

  body{
    background-color:#F4F7FD;
    width: 375px;
    height: 667px;
  }  

  .logo-img{
    width: 375px;
    height: 64px;
  }




  @media screen and (min-width: 1440px){
    
  }