*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

  body{
    background-color:#F4F7FD;
    width: 1440px;
    height: 1024px;
    font-family: Plus jakarta sans,sans-serif ;
    font-weight: 700;
  }  

  .logo-img{
    width: 375px;
    height: 64px;
  }

  h2{
    color: #000112;
    font-size: 24px;
  }

  h4{
    color: #828FA3;
    font-size: 12px;
    letter-spacing: 2.4px;
  }

  .card{
    background-color: #FFFFFF;
    width: 280px;
    height: 60px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: #364E7E1A;
    margin-bottom: 10px;
   
  }





