
    /* This is a CSS Reset */
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* This section styles the body */

  body{
    background-color:#F4F7FD;
    width: 1440px;
    height: 1024px;
    font-family: Plus jakarta sans,sans-serif ;
    font-weight: 700;
  }  
   
   /* This is the container to create a grid layout */
  .main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 15px;
  }

    /* This section styles the kanban logo */

  .kanban-logo{
    width: 152.53px;
    height: 25.22px;
    object-fit: cover;
    margin: 20px 30px;
  }
   
  /* This section styles the navigation bar*/

  .nav-bar{
    width: 300px;
    height: 1024px;
    background-color: #FFFFFF;
  }

  /* This styles the launch career button*/

  button{
    width: 276px;
    height: 48px;
    border-radius: 0 100px 100px 0 ;
    background-color: #635FC7;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border: none;
  }

  /* This makes the button active*/

  .launch-career-button{
    
  }

   /* This is a comment */

  h2{
    color: #000112;
    font-size: 24px;
    background-color: #FFFFFF;
    width: 1440px;
    height: 92px;
  }

   /* This is a comment */

  h4{
    color: #828FA3;
    font-size: 12px;
    letter-spacing: 2.4px;
  }

  .status{
    margin: 20px 20px;
  }

  .task-column-section{
    display: flex;
    gap: 17px;
  }

   /* This is a comment */

  .task-card{
    display: flex;
    background-color: #FFFFFF;
    width: 280px;
    height: 60px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: #364E7E1A;
    margin-bottom: 15px;
  }

   

  

  
    
    
  





